#gridContainer {
  height: 90vh;
  aspect-ratio: 1/1;
  margin: auto;
}

#buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#new-canvas {
  margin: 8px;
}

.div-row {
    /*Orient squares in row horizontally*/
    display: flex; 
    background-color: grey;  
}

.div-column {
    background-color: white; 
    /*Square height takes up 100% of the row's height. Even if .divRow doesn't have a specified height, flex: 1 means that
      the squares take up horizontal space in the row equally. Their height is 1/1 to the width, so their height = width
    */
    flex: 1;
    height: 100%; 
    aspect-ratio: 1/1; 
    border: 0.5px solid grey;
}

